{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home Page
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid ipsum hic veritatis, ex doloremque exercitationem soluta laudantium, saepe, molestiae facere corrupti. Nihil, blanditiis quam. Eligendi aperiam qui hic laudantium quasi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam facilis voluptatibus laboriosam natus hic molestias deserunt eum, ducimus nam dicta. Totam omnis expedita maiores distinctio ipsum maxime illum, consequatur nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt magni quos, ad sint eius suscipit quibusdam, asperiores necessitatibus accusantium fugiat expedita ipsum, aliquam molestiae nulla similique quo culpa! Modi, voluptatum?</p>
{% endblock %}

{% block js %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}